.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.cardContainer:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.image {
  max-width: 22rem;
  height: auto;
  display: block;
  border: 5px solid #1c1b1b;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 5rem;
  background-color: #ff4500;
  margin: -5.3rem 0 0 0;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1c1b1b;
}
